<p>Liste des jeux:</p>
<p-table [value]="(jeux$ | async)" let jeux>
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Description</th>
      <th>Règles</th>
      <th>Langue</th>
      <th>URL Media</th>
      <th>Âge</th>
      <th>Poids</th>
      <th>Nombre Joueurs</th>
      <th>Catégories</th>
      <th>Durée</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jeux>
    <tr>
      <td>{{jeux.id}}</td>
      <td>{{jeux.name}}</td>
      <td>{{jeux.description}}</td>
      <td>{{jeux.rules}}</td>
      <td>{{jeux.language}}</td>
      <td>{{jeux.url}}</td>
      <td>{{jeux.age}}</td>
      <td>{{jeux.weight}}</td>
      <td>{{jeux.nombre_joueurs}}</td>
      <td>{{jeux.categories}}</td>
      <td>{{jeux.duration}}</td>
      <td>
        <button type="button" pButton pRipple icon="pi pi-search" [routerLink]="['/jeux', jeux.id]"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
