<header>
  <div id ="container">
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
      <a> Connectez-vous :</a>
      <input type="text" formControlName="email" pInputText placeholder="email"><br>
      <input type="password" formControlName="password" pInputText placeholder="mots de passe"><br>
      <button [disabled]="!formulaire.valid">Valider</button>
      <a routerLink="/newUser"><button class="btn btn-success pull-right" > S'inscrire</button></a>
    </form>
  </div>
</header>
