ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: -20px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px gray;
}

li {
  float: right;
}


li, a{
  background-color: red;
  color: white;
  font-family: "Grill Sans", sans-serif;
  padding: 20px;
  text-decoration: None;
  text-align: center;
}

a:hover{
  background-color: white;
  color: red;
  font-family: "Grill Sans", sans-serif;
}

h1, h2{
  font-family: "Grill Sans", sans-serif;
  color: white;
}

.public{
  float: left;
  position: relative;
  left: -10px;
}

.private{
  float: right;
  position: relative;
  right: -10px;
}

.article{
  position: relative;
  top: 200px;
  background-color: #ff8888;
  border-radius: 20px;
  box-shadow: 10px 5px 5px gray;
}
