<html>
<Header>
  <div class="topnav">
    <ul>
      <a *ngIf="authService.isLoggedOut$ | async"[routerLink]="'/home'">L'EKIP</a>
      <a [routerLink]="'/jeux'">Liste Jeux</a>
      <a *ngIf="authService.isLoggedOut$ | async"[routerLink]="['/newUser']">Inscription</a>
      <a *ngIf="authService.isLoggedIn$ | async"[routerLink]="['/profile']">Profil</a>
      <a *ngIf="authService.isLoggedOut$ | async"[routerLink]="['/login']">Login</a>
      <a  *ngIf="authService.isLoggedIn$ | async"(click)="logout()">Logout</a>
    </ul>
  </div>

  <router-outlet></router-outlet>

  <p-toast position="top-right" key="main"></p-toast>
</Header>

<div class="footer">
  <p>Le projet est réalisé par : Brandon, Ryan, Valentin, Martin, Thibault</p>
  <p>©EKIP - Tous droit réservé - 2021</p>
</div>

</html>
