<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
  <p-panel [header]="jeu">
    <div class="p-fluid forms-grid" style="margin: 1em 0">
      <div class="p-field">
        <label for="inputNom" class="p-sr-only">Nom</label>
        <input id="inputNom"
               placeholder="Nom"
               formControlName="nom" type="text" pInputText>
        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="mat-error">
          <div *ngIf="nom?.errors.required" style="color: crimson">Le nom est obligatoire</div>
          <div *ngIf="nom?.errors.minlength"  style="color: crimson">Le nom doit comporter au moins 6 caractères</div>
          <div *ngIf="nom?.errors.nomInvalid"  style="color: crimson">Le nom est invalide</div>
        </div>
      </div>

      <div class="p-field">
        <label for="inputDescription" class="p-sr-only">Description</label>
        <input id="inputDescription"
               placeholder="Description"
               formControlName="description" type="text" pInputText>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="mat-error">
          <div *ngIf="description?.errors.required" style="color: crimson">La description est obligatoire</div>
        </div>
      </div>

      <div class="p-field">
        <label for="inputThemeId" class="p-sr-only">Thème</label>
        <input id="inputThemeId"
               placeholder="Thème"
               formControlName="theme" type="number" pInputText>
        <div *ngIf="theme.invalid && (theme.dirty || theme.touched)" class="mat-error">
          <div *ngIf="theme?.errors.required" style="color: crimson">L'id de thème est obligatoire</div>
        </div>
      </div>

      <div class="p-field">
        <label for="inputEditeurId" class="p-sr-only">Editeur</label>
        <input id="inputEditeurId"
               placeholder="Editeur"
               formControlName="editeur" type="number" pInputText>
        <div *ngIf="editeur.invalid && (editeur.dirty || editeur.touched)" class="mat-error">
          <div *ngIf="editeur?.errors.required" style="color: crimson">L'id d'éditeur est obligatoire</div>
        </div>
      </div>

      <div class="p-field">
        <label for="inputUrlMedia" class="p-sr-only">Url Média</label>
        <input id="inputUrlMedia"
               placeholder="Url de média"
               formControlName="url_media" type="text" pInputText>
        <div *ngIf="url_media.invalid && (url_media.dirty || url_media.touched)" class="mat-error">
          <div *ngIf="url_media?.errors.required" style="color: crimson">L'id d'éditeur est obligatoire</div>
        </div>
      </div>

      <div class="p-field">
        <label for="inputLangue" class="p-sr-only">Langue</label>
        <input id="inputLangue"
               placeholder="Langue"
               formControlName="langue" type="text" pInputText>
        <div *ngIf="langue.invalid && langue.touched"  id="langue-help" class="p-error">La langue est obligatoire.</div>
      </div>

      <div class="p-field">
        <label for="inputAge" class="p-sr-only">Âge</label>
        <input id="inputAge"
               placeholder="Age"
               formControlName="age" type="number" pInputText>
        <div *ngIf="age.invalid && (age.dirty || age.touched)" class="mat-error">
          <div *ngIf="age?.errors.required" style="color: crimson">L'âge est obligatoire</div>
          <div *ngIf="age?.errors.min"  style="color: crimson"></div>
          <div *ngIf="age?.errors.max"  style="color: crimson"></div>
        </div>
      </div>

      <div class="p-field">
        <label for="inputPoids" class="p-sr-only">Poids</label>
        <input id="inputPoids"
               placeholder="Poids"
               formControlName="poids" type="number" pInputText>
        <div *ngIf="poids.invalid && (poids.dirty || poids.touched)" class="mat-error">
          <div *ngIf="poids?.errors.required" style="color: crimson">Le poids est obligatoire</div>
        </div>
      </div>

      <div class="p-field">
        <label for="inputNombreJoueurs" class="p-sr-only">Nombre de joueurs</label>
        <input id="inputNombreJoueurs"
               placeholder="Nombre de joueurs"
               formControlName="nombre_joueurs" type="number" pInputText>
        <div *ngIf="nombre_joueurs.invalid && nombre_joueurs.touched"  id="nombre_joueurs-help" class="p-error">Le nombre de joueurs est obligatoire.</div>
      </div>

      <div class="p-field">
        <label for="inputDuree" class="p-sr-only">Durée</label>
        <input id="inputDuree"
               placeholder="Durée"
               formControlName="duree" type="text" pInputText>
        <div *ngIf="duree.invalid && duree.touched"  id="duree-help" class="p-error">La durée est obligatoire.</div>
      </div>

      <div class="p-field">
        <label for="inputRegles" class="p-sr-only">Règles</label>
        <input id="inputRegles"
               placeholder="Règles"
               formControlName="regles" type="text" pInputText>
        <div *ngIf="regles.invalid && regles.touched"  id="regles-help" class="p-error">Les règles sont obligatoires.</div>
      </div>

      <div class="p-field">
        <label for="inputCategorie" class="p-sr-only">Catégorie</label>
        <input id="inputCategorie"
               placeholder="Catégorie"
               formControlName="categorie" type="text" pInputText>
        <div *ngIf="categorie.invalid && categorie.touched"  id="categorie-help" class="p-error">La catégorie est obligatoire.</div>
      </div>

      <button pButton class="btn btn-primary" type="submit" label="Valide" [disabled]="!formulaire.valid">Ajouter</button>
    </div>
  </p-panel>
</form>
