.profile{
  color: white;
  font-family: "Grill Sans", sans-serif;
  background-color: #ff8888;
  position: relative;
  top: 75%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px gray;
  padding: 10px;
}
